body{
    font-family: "Press Start 2P", cursive;
    background-color: rgb(68, 37, 2);
}
.background{
    content: "";
    background-image: url(../img/Background.png);
    background-size: contain;
    width: 1200vh;
    height: 80vh;
    position: absolute;
    bottom: 30%;
    z-index: 1;
    opacity: 1.0;
    animation: background-animation 35s infinite linear;
}
.game-board{
    width: 100%;
    height: 500px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.mario{
    width: 64px;
    position:absolute;
    bottom: 0;
    z-index: 2;
}

.jump{
    animation: jump 500ms ease-out;
}

.pipe{
    position: absolute;
    bottom: 0;
    width: 51px;
    animation: pipe-animation 1.8s infinite linear;
    z-index: 2;
}

.boo{
    position: absolute;
    bottom: 150px;
    width: 83px;
    right: -300px;
    z-index: 2;  
}

.score {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    color: #fff;
    z-index: 2;
    }

.game-over{
    position: relative;
    z-index: 3;
    bottom: -200px;
    right: -800px;
}

.game-over .endgame{
    position: relative;
    width: 200px;
    z-index: 3;
}

.game-over .button{
    position: relative;
    width: 88px;
    padding: 2px 15px;
    color: #fff;
    border: none;
    cursor: pointer;
    z-index: 3;
    right: -5px;
}
.restart-text{
    font-family: "Press Start 2P", cursive;
}

@keyframes jump{
    0%{
        bottom : 0;
    }
    40%{
        bottom : 180px;
    }
    50%{
        bottom : 180px;
    }
    60%{
        bottom : 180px;
    }
    100%{
        bottom: 0;
    }
}
@keyframes pipe-animation{
    from{
        right: -115px;
    }
    to{
        right: 100%;
    }
}
@keyframes boo-animation{
    from{
        right: -400px;
    }
    to{
        right: 100%;
    }
}
@keyframes background-animation{
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-75%);
    }
}